<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<ul>
<%= @post.categories.each do |category| %> 
<li><%= link_to(category.name, category) %></li>
<% end %>
</ul>

<h2>Comments: </h2>
<ul>
<%= @post.comments.each do |comment| %> 
<li><%= comment.user.username %> says: <%= comment.content %></li>
<% end %>
</ul>

<ul>
<%= @post.users.uniq.each do |user| %> 
<li><%= link_to(user.username, user) %></li>
<% end %>
</ul>

<%= form_for @post.comments.build do |f| %>
<%= f.hidden_field :post_id, value: @post.id %>
<%= f.text_area :content %>
<%= f.collection_select :user_ids, User.all, :id, :username, include_blank: 'Any' %>
Create a User
<%= f.fields_for :users, @post.comments.last.build_user do |user_fields| %>
Username:
<%= user_fields.text_field :username %>
Email:
<%= user_fields.text_field :email %>
<% end %>
<%= f.submit%>
<% end %>
